.part-size {
	text-align:center;
	position:absolute;
	left:0px;
	height:100%;
	width:45px;
}

.part-data {
	margin-left:45px;
	padding-right:10px;
}

.part-float {
	float:right;
	margin-right:5px;
}

.part-empty {
	color:dimgrey;
	text-align:center;
}
